html, body, #root, #App {
  height: 100%;
}

#App{
  display: grid;
  grid-template-columns: minmax(10px, 0.1fr) repeat(3, 1fr) minmax(10px, 0.1fr);
  grid-template-rows: min-content auto;
  text-align: center;
}

#App > * {
  margin-top: auto;
  margin-bottom: auto;
}
#Day-Controls{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-self: end;
}

#Day-Controls > {

}

#Image-Controls {
  display: flex;
  grid-column: 3;
  grid-row: 1;
  margin: 10px auto auto;
}
#Image-Controls > *{
  margin: auto;
}


#Play-Pause{
    display: flex;
  grid-column: 4;
  grid-row: 1;
}

#ugh {
  font-family: monospace;
  font-size: 5em;
  user-select: none;
  cursor: pointer;
}

#Image-View {
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 0;
  grid-column: 2 / 5;
  grid-row: 2;
}

img {
  object-fit: contain;
  width: 100%;
    margin: 0;
  /*min-height: 100%;*/
  max-height: 100%;
  max-width: 100%;
}